 #hh_container {
     margin-right: 10px;
     margin-top: 10px;
     margin-left: 10px;
     box-sizing: border-box;
     width: 320px;
     height: 300px;
     right:0;
     font-family: verdana;
 }

 #hh_top {
     width: 320px;
     height: 240px;
     box-sizing: border-box;
 }

 
 #hh_bottom {
     box-sizing: border-box;
     opacity:0.8;
     background: white;
     width: 100%;
     height: auto;
     font-size: large;
     display: inline-block;
     text-align: center;
 }

 #helpingand-video, #helpingand-canvas, #helpingand-voronoi, #hh_container {
     position: absolute;
     z-index: 99999999;
 }

#helpingand-video {
    position: fixed;
}

#helpingand-canvas, #helpingand-voronoi {
    opacity: 0.7;
}

#hh_message {
    height: 40px;
    width: 100%;
    font-size: medium;
    padding-top:20px;
}

#hh_button {
    width:150px;
    height: 40px;
    border: none;
    outline: none;
    background: lightgreen;
    font-size: 10px;
    border-radius: 20px;
}