 #hh_container {
     top:0 !important;
     right:0 !important;
     display: block !important;
     margin-right: 10px;
     margin-top: 10px;
     margin-left: 10px;
     box-sizing: border-box;
     width: 320px;
     height: 300px;
     font-family: Verdana;
 }

 #hh_top {
     width: 320px;
     height: 240px;
     box-sizing: border-box;
 }

 
 #hh_bottom {
     box-sizing: border-box;
     opacity:0.8;
     background: white;
     width: 100%;
     height: auto;
     font-size: large;
     display: inline-block;
     text-align: center;
 }

 #helpingand-video, #helpingand-canvas, #helpingand-voronoi, #hh_container {
     position: absolute !important;
     z-index: 9999999999 !important;
 }

#helpingand-video {
    display: block !important;
    /*position: absolute;*/
}

#helpingand-canvas, #helpingand-voronoi {
    opacity: 0.7;
}

#hh_message {
    height: 40px;
    width: 100%;
    font-size: medium;
    padding-top:20px;
}

#hh_button {
    opacity:1;
    min-width:150px;
    width: auto;
    min-height:40px;
    height: auto;
    border: none;
    outline: none;
    background: lightgreen;
    font-size: 15px;
    color: darkgreen;
    border-radius: 20px;
}